img {
  width: 200px;
  height: 200px;
}

body {
  width: 100%;
  height: 1000px;
  background: #616161;
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
  background: linear-gradient(to right, #9bc5c3, #616161);
}
input {
  background-color: #7c3030;
}

h2 {
  color: rgb(32, 9, 17);
}

.list-group-item {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

p {
  color: rgb(187, 191, 195);
}
.listt {
  margin: 20px;
}
